<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
    <div class="container">
        <h1 style="text-align: center; color: aliceblue; font-size: 60px;">P A R K I N H O</h1>
        <div class="section-container">
            <div class="title-div">
                <h1>Entrada</h1>
                <p>*Esta sessão é exclusiva para registro de entrada de veículos</p>
            </div>
            <div class="form-div">
                <form style="display: flex;width: 100%; justify-content: space-around;" action="/entrada" method='post'>
                    <input type="text" id="inputPlacaEntrada" oninput="formatInput(this)" maxlength="8" name="inputPlacaEntrada" placeholder="Placa" required>
                    <input type="text" oninput="upperCase(this)" maxlength="12" name="inputModelo" placeholder="Modelo" required>
                    <input style="margin: 0;" type="submit" value="OK">
                </form>
                
            </div>
            <div id="span_entrada_confirm" class="span">  </div>
        </div>
        <div class="section-container">
            <div class="title-div">
                <h1>Saída</h1>
                <p>*Esta sessão é exclusiva para registro de saída de veículos</p>

            </div>
            <div class="form-div">
                <form style="display: flex;width: 100%; justify-content: space-around; height: 100px;" action="/saida" method='post'>

                    <input type="text" id="inputPlacaSaida" name="inputPlacaSaida" oninput="formatInput(this)" maxlength="8" placeholder="Placa" >
                    <input style="margin: 0;background-color: red;" type="submit" value="OK">
                    <div class="total">
                        {% if preco is not none %}
                            <h2>R$ {{ preco }}</h2>

                            <form method="post" style="height: 100px;">
                                <button type="submit" name="pago" >Pago</button>
                            </form>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="span">

                <span> </span>

            </div>
        </div>

        <div class="section-container2">
            <div id="historico">
                <div class="title-div">
                    <h1>Histórico</h1>
                    <p>Consulte o histórico de movimento do estacionamento</p>
                </div>
                <div class="table_container">
                    <table id="historico-table" class="table" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Data</th>
                                <th>Placa</th>
                                <th>Modelo</th>
                                <th>Entrada</th>
                                <th>Saída</th>
                                <!-- Adicione mais colunas conforme necessário -->
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>

            <div id="mensalista" style="text-align: center;">
                <div class="header">
                    <h1>Mensalistas</h1>
                    <p>Consulte e cadastre mensalistas</p>
                    <form action="/mensalista" method="post">
                        <input type="text" id="inputPlacaMensalista" name="inputPlacaMensalista" oninput="formatInput(this)" maxlength="8" placeholder="Placa" required>
                        <input type="text" id="inputName" name="inputName" oninput="upperCase(this)" placeholder="Nome" required><br>
                        <input style="font-size: 25px; width: 200px;" type="submit" value="Cadastrar">
                    </form>
                </div>
                <div class="table-container" style="overflow: auto; height: 350px;" >
                    <table id="mensalista-table" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Placa</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                
                <div class="delete-mesalista">
                    <form action="{{ url_for('delete_plate') }}" method="POST">
                        <input type="text" id="plate" name="plate" oninput="formatInput(this)" maxlength="8" placeholder="Placa" required>
                        <button type="submit" style="background-color: red; height: 40px; width: 100px; font-size: 20px; display: flexbox; align-items: center; justify-content: center; cursor: pointer;">
                            Excluir
                        </button>
                    </form>
                </div>

            </div>

        </div>

        


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>


<script>
    // Função para carregar dados do histórico
    function loadHistorico() {
        $.get("/historico_data", function (data) {
            // Limpar a tabela
            $("#historico-table tbody").empty();

            // Preencher a tabela com os novos dados
            data.forEach(function (row) {
                var newRow = "<tr><td>" + row.id + "</td><td>" +
                    row.data + "</td><td>" + 
                    row.placa + "</td><td>" + 
                    row.modelo + "</td><td>" + 
                    row.entrada + "</td><td>" +
                    row.saida + "</td></tr>";
                
                $("#historico-table tbody").append(newRow);
            });
        });
    }


    // Chamar a função de carregamento inicial
    loadHistorico();

    function loadMensalistas(){
            $.get("/mensalista_data", function(data) {

                $("#mensalista-table tbody").empty();
                

                data.forEach(function (row) {
                    var newRow = "<tr><td>" + row.id + "</td><td>" +
                        row.placa + "</td><td>" +
                        row.nome + "</td></tr>";

                $('#mensalista-table tbody').append(newRow);
            });
        });
    }
    
    loadMensalistas();

    

</script>





</html>
